p {
    padding-top: 5px;
    text-align: center;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 300px;
}
.test {
    background: red;
    color: white;
    width: 50px;
    height: 50px;
}

.container2 {
    display: grid;
    border: 2px solid black;
    height: 300px;
}
.test2 {
    margin: auto;
    background: red;
    color: white;
    width: 50px;
    height: 50px;
}